---
import brygadaPath from "@fontsource-variable/brygada-1918/files/brygada-1918-latin-wght-italic.woff2";
import interPath from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2";

import InitColorScheme from "../lib/color-scheme/InitColorScheme.astro";
import { Commands } from "../lib/Commands";
import GrainOverlay from "../lib/GrainOverlay/GrainOverlay.astro";
import { Link } from "../lib/Link";
import ScrollbarStyles from "../lib/ScrollbarStyles.astro";
import SocialCardMetaTags from "../lib/SocialCardMetaTags.astro";
import type { PostFrontmatter } from "../types";

import "../global-styles/base.css";
import "../global-styles/controls.css";
import "../global-styles/integrations.css";
import "../global-styles/font.css";
import "../lib/prose/prose.css";

interface Props {
  title: string;
  description: string;
  children: astroHTML.JSX.Element;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;

const posts = (await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx"))
  .filter((p) => (import.meta.env.PROD ? !p.frontmatter.draft : true))
  .map((p) => ({
    href: p.frontmatter.path,
    title: p.frontmatter.title,
    date: p.frontmatter.date,
  }));

posts.sort((a, b) => {
  return new Date(b.date).getTime() - new Date(a.date).getTime();
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    {
      [interPath, brygadaPath].map((href) => (
        <link
          rel="preload"
          href={href}
          as="font"
          type="font/woff2"
          crossorigin
        />
      ))
    }

    <SocialCardMetaTags ogImage={ogImage} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <InitColorScheme />
  </head>
  <body>
    <div class="max-w-container mx-auto px-4">
      <header
        class="flex justify-between items-center -mt-2"
        style={{ height: "37.5px" }}
      >
        <slot name="header-content">
          <Link href="/">← back</Link>
        </slot>
        <Commands client:load posts={posts} />
      </header>
      <slot />
      <GrainOverlay opacity={0.25} />
    </div>
    <ScrollbarStyles />
  </body>
</html>
