---
import type { MarkdownLayoutProps } from "astro";
import { getPlaiceholder } from "plaiceholder";

import { createOgImageLink } from "../lib/createOgImageLink";
import { formatDate } from "../lib/formatDate";
import Image from "../lib/Image.astro";
import TableOfContents from "../lib/TableOfContents/TableOfContents.astro";
import type { PostFrontmatter } from "../types";

import BaseLayout from "./BaseLayout.astro";

import "../global-styles/shiki.css";

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { frontmatter, headings } = Astro.props;

const ogImage = createOgImageLink(frontmatter);
const readingTime = frontmatter.readingTime;
const date = new Date(frontmatter.date);

const imgPlaceholder = frontmatter.img
  ? await getPlaiceholder(frontmatter.img, { size: 10 })
  : null;
---

<BaseLayout title={frontmatter.title} ogImage={ogImage}>
  <main class="zaduma-prose py-4">
    <header class="flex justify-between items-center">
      <h1 class="!my-0">{frontmatter.title}</h1>
      <div class="text-gray-600 dark:text-gray-400 text-right">
        {
          readingTime.minutes > 1 && (
            <>
              <span>{readingTime.text}</span>
              {" · "}
            </>
          )
        }
        <time
          datetime={date.toISOString()}
          class="tabular-nums tracking-tighter"
        >
          {formatDate(date)}
        </time>
      </div>
    </header>
    {
      frontmatter.img && (
        <div class="zaduma-image-box relative overflow-hidden">
          <Image
            alt=""
            src={frontmatter.img}
            format="webp"
            width={774}
            aspectRatio={2}
          />
          <div
            style={imgPlaceholder!.css}
            class="absolute inset-0 w-full h-full transform scale-150 filter blur-2xl z-[-1] dark:opacity-80"
          />
        </div>
      )
    }
    <slot />
  </main>
  <TableOfContents headings={headings} />
</BaseLayout>
