---
import type { MarkdownLayoutProps } from "astro";

import { formatDate } from "../lib/formatDate";
import TableOfContents from "../lib/TableOfContents/TableOfContents.astro";
import type { PostFrontmatter } from "../types";

import BaseLayout from "./BaseLayout.astro";

import "../global-styles/shiki.css";

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { frontmatter, headings } = Astro.props;

const readingTime = frontmatter.readingTime;

const date = new Date(frontmatter.date);
---

<BaseLayout title={frontmatter.title}>
  <main class="zaduma-prose py-4">
    <header class="flex justify-between items-center">
      <h1 class="!my-0">{frontmatter.title}</h1>
      <div class="text-gray-600 dark:text-gray-400 text-right">
        {
          readingTime.minutes > 1 && (
            <>
              <span>{readingTime.text}</span>
              {" · "}
            </>
          )
        }
        <time datetime={date.toISOString()}>
          {formatDate(date)}
        </time>
      </div>
    </header>
    <slot />
  </main>
  <TableOfContents headings={headings} />
</BaseLayout>
