---
import type { MarkdownLayoutProps } from "astro";

import { createOgImageLink } from "../lib/createOgImageLink";
import { formatDate } from "../lib/formatDate";
import Image from "../lib/prose/Image.astro";
import TableOfContents from "../lib/TableOfContents/TableOfContents.astro";
import type { PostFrontmatter } from "../types";

import BaseLayout from "./BaseLayout.astro";

import "../global-styles/shiki.css";

interface Props extends Omit<MarkdownLayoutProps<{}>, "frontmatter"> {
  frontmatter: PostFrontmatter;
}

const { frontmatter, headings } = Astro.props;

const ogImage = createOgImageLink(frontmatter);
const readingTime = frontmatter.readingTime;
const date = new Date(frontmatter.date);
const imgSrc =
  typeof frontmatter.img === "object" ? frontmatter.img.src : frontmatter.img;
const description = frontmatter.description || ""
---

<BaseLayout title={frontmatter.title} ogImage={ogImage} description={description}>
  <main class="zaduma-prose py-4">
    <header
      class="flex justify-between items-start sm:items-center flex-col sm:flex-row"
    >
      <h1 class="!my-0">{frontmatter.title}</h1>
      <div class="text-gray-600 dark:text-gray-400 text-right">
        {
          readingTime.minutes > 1 && (
            <>
              <span>{readingTime.text}</span>
              {" · "}
            </>
          )
        }
        <time
          datetime={date.toISOString()}
          class="tabular-nums tracking-tighter"
        >
          {formatDate(date)}
        </time>
      </div>
    </header>
    {
      imgSrc && (
        <Image alt="" src={imgSrc} format="webp" width={774} aspectRatio={2} />
      )
    }
    <slot />
  </main>
  <TableOfContents headings={headings} />
  <style is:global>
     {
      /* make the spacing even when there's no callout nor image */
    }
    .zaduma-prose > header + :is(p, .zaduma-aside) {
      margin-top: 2em;
    }
  </style>
</BaseLayout>
